<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new post has been published on Ancient Wisdom Texts.</p>
    <p>Edit: <%= link_to(@post.title, edit_blog_post_url(@post)) %></p>
  </body>
</html>
