<div class='panel'>
  <h3>
    Welcome to Ancient Wisdom Texts
  </h3>
  <p style='font-style:italic'>
  Read though these provocative passages from classic texts, get curious, dig deeper. Behind every blog post, there's a complete text, free to read in its entirety. Browse books and authors for more.
  </p>
</div>
<% @blog_posts.each do |post| %>
    <article>
      <h3><%= post.title%></h3>
        <div>
          <%= simple_format(post.preview)%>
        </div>
        <%= link_to('Read More', blog_post_path(post)) %>
     </article>
      <hr/>
<% end %>
<%= foundation_paginate @blog_posts %>
