<% @blog_posts.each do |post| %>
    <article>
      <h3><%= post.title%></h3>
        <div>
          <%= simple_format(post.preview)%>
        </div>
        <%= link_to('Read More', blog_post_path(post)) %>
     </article>
      <hr/>
<% end %>
<%= foundation_paginate @blog_posts %>
