<% @blog_posts.each do |post| %>
  <ul>
    <li>
      <h2><%= post.title%></h2>
        <div>
          <%= simple_format(post.preview)%>
        </div>
        <%= link_to('Read More', blog_post_path(post)) %>
    </li>
  </ul>
<% end %>
