<h2>Privacy Policy</h2>

<p>Ancient Wisdom Texts uses the “Doubleclick” Cookie, which tracks use of www.ancientwisdomtexts.com and user behavior concerning ads, products and the services we offer as part of Google AdSense, an advertising service provided by Google.</p>

<p>You may decide to disable all the Doubleclick Cookies by clicking <a href="http://google.com/settings/ads/onweb/optout?hl=en">here</a>.</p>

<p>Personal Data collected: Cookie and Usage Data. Place of processing: USA. You can find the AdSense Privacy Policy <a href="http://google.com/privacy/ads/">here</a>.</p>
