<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to('Home', root_url) %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li>
        <%= link_to('Free Books', books_path) %>
      </li>
      <li>
        <%= link_to('Featured Authors', authors_path) %>
      </li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <% if current_user and current_user.role == 'admin' %>
          <li><%= link_to('Admin', approval_queue_blog_posts_path) %></li>
        <% end %>
      </li>
    </ul>
  </section>
</nav>



