<div class="panel radius">
  <h3 class="text-center">Inbox Insight </h3>
  <p>Ponder ancient wisdom via email!</p>
  <p>Subscribe here to have fresh insights sent to you as they're published on the blog.</p>
   <div id='subscribe-form'>
     <%= simple_form_for(User.new, url: subscribe_users_path, remote: true) do |f| %>
     <%= f.input :email %>

     <%= f.submit 'Subscribe', class: "button radius", id: 'form-submit' %>
     <% end %>
   </div>
</div>
